.Content {
    margin-top: 100px;
    height: 738.22px;
    display: flex;
    justify-content: space-evenly;
}

.Content .text_block {
    width: 903px;
    height: 239px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Content .about {
    margin-top: 64px;
}

.buttons {
    margin-top: 55px;
    display: flex;
}

.buttons .button[size="big"] {
    margin-right: 30px;
}