* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* ... */
}

/* Global: */

.navbar {
    padding: 0 90px;
    height: 110px;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

/* Coming Soon */
