@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

:root {
    --Black: #2E2E2E;
    --Grey: #474747;
    --Red: #D43C32;
    --PrimaryButton-Blue: #3672B9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    user-select: none;
}

h1 {
    color: var(--Black);
    font-family: Poppins;
    font-size: 70px;
    line-height: 112.5%;
    letter-spacing: -0.02em;
}

h2 {
    color: var(--Black);
    font-family: Poppins;
    font-size: 50px;
    line-height: 112.5%;
    letter-spacing: -0.02em;
}

h3 {
    color: var(--Black);
    font-family: Poppins;
    font-size: 35px;
    line-height: 112.5%;
    letter-spacing: -0.02em;
}

h4 {
    color: var(--Black);
    font-family: Poppins;
    font-size: 30px;
    line-height: 112.5%;
    letter-spacing: -0.02em;
}

h5 {
    color: var(--Black);
    font-family: Poppins;
    font-size: 20px;
    line-height: 112.5%;
    letter-spacing: -0.02em;
}

h6 {
    color: var(--Black);
    font-family: Poppins;
    font-size: 15px;
    line-height: 112.5%;
    letter-spacing: -0.02px;
}

p {
    color: var(--Black);
    font-family: Poppins;
    font-size: 10px;
    line-height: 112.5%;
    letter-spacing: -0.02em;
}

a {
    text-decoration: none;
}

.barlow {
    font-family: Barlow;
    letter-spacing: 0;
    line-height: normal;
}

/* Global: */

*::selection {
    background-color: rgba(45, 93, 252, 0.705);
    color: #E2E2E2;
}

.navbar {
    padding: 0 90px;
    height: 110px;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

.navbar img {
    user-select: none;
}

.navbar_items {
    margin-left: 110px;
    display: flex;
    align-items: center;
}

.navbar_item {
    align-items: center;
}

.primary_button {
    display: flex;
    width: 220px;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
    
    background-color: var(--PrimaryButton-Blue);
    border-radius: 15px;
}


.primary_button h1, .primary_button h2, .primary_button h3, .primary_button h4, .primary_button h5, .primary_button h6, .primary_button p {
    color: #F0F0F0;
}

.remocard {
    position: absolute;
    padding: 30px 23px;
    z-index: 1000;
    
    background-color: #F4F4F4;
    border: 7px solid #2e2e2e;
    border-radius: 25px;
    border-top-left-radius: 0px;
}

#MoreCard {
    width: 234px;
    height: 444px;
    top: 63px;
    padding: 40px 78px;
}

#MoreCard a {
    display: flex;
    align-items: center;
    justify-content: center;
}

#MoreCard h5 {
    color: var(--Grey);
    text-align: center;
}

.navbar_item_border {
    position: absolute;
    
    background-color: transparent;
    border: 4px solid var(--Grey);
    border-radius: 5px;
}